<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>javaweb20210712</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!--解决非法请求的过滤器 -->
<!--  	<filter>
		<filter-name>fileFilter</filter-name>
		<filter-class>cn.kgc.filter.FileFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>fileFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
-->

	<!-- 配置过滤器解决中文乱码问题 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>cn.kgc.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

   <!-- 单位分钟 -->
	<session-config>
		<session-timeout>1</session-timeout> 
	</session-config>
	
</web-app>